# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
* R Studio
* Phyton
* SQL

Some of the commonly used libraries used by Data Scientists include:

* Pandas
* TensorFlow
* Matplotlib

|Data Science Tools |
| ------ |
| Jupyter |
|Phyton |
| R |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

#### **Objectives**

In [ ]:
# List popular languages for Data Science

1. SQL
2. Phyton
3. Julia
4. JavaScript

## AUTOR
Walter Garc√≠a Sandoval